.tree, .tree ul {
    list-style-type: none;
    padding: 0;
    background: url(../img/vline.png) repeat-y;
    margin-left: 10px;
}

.tree li {
    padding: 0 12px;
    background: url(../img/node.png) no-repeat;
}

.tree li:last-child {
    background: white url(../img/lastnode.png) no-repeat;
}

.tree label {
    margin-left: 5px;
    position: relative;
    top: -4px;
}

.tree input {
    margin: 2px 15px;
}

.tree .branch {
    margin-left: -9px;
    background: white url(../img/firstnode.png) no-repeat;
}

li > span + .tree {
    padding-top: 20px;
}

.tree div {
    margin-bottom: 10px;
}